[v-cloak] {
	display: none;
}

#table {
	margin-top: 50px;
	margin-bottom: 50px;
}

#search {
	width: 60%;
	margin: auto;
}

.navbar-brand small {
	display: block;
	font-size: 13px;
	color: #ffc107;
	margin-right: 2rem;
}
