body {
    margin: 0;
    height: calc(100% - 56px);
}

html, #map {
    height: 100%;
    overflow: hidden;
}

img {
    object-fit: cover;
    margin-bottom: 7px;
}

#search {
    width: 500px;
}

.marker-label {
    position: absolute;
    font-size: 13px;
}

.scrollable {
    overflow: auto;
}

.landmark {
    width: 250px;
    border-radius: 12px;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transform-origin: 0 10px;
    transform-origin: 0 10px;
}

.landmark h1 {
    margin-top: 0;
    padding: 10px 15px 5px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}

.landmark section {
    max-height: 250px;
    padding: 0 17px 5px 12px;
    font-size: 14px;
}

.hoverable {
    margin-top: 10px;
    margin-bottom: 0;
    word-wrap: break-word;
    position: relative;
    padding: 4px;
    border-radius: 5px;
}

.hoverable:hover {
    background-color: #e6e6e6;
}

.coords {
    border-radius: 5px;
    background: #212529eb;
    color: white;
    text-align: center;
    padding: 4px 7px;
    font-size: 12px;
}

.landmark section p:last-child {
    margin-bottom: 0px;
}

.landmark section p:first-child {
    margin-top: 0;
}

.wikipedia-link {
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(247, 247, 247, 0.95);
    padding-left: 0;
    padding-right: 0;
}

.gap {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bfbfbfad;
}

div.gap:last-child {
    border-bottom: none;
}

i.right-arrow {
    border: solid #6c757d;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top: calc(50% - 5px);
    left: 95%;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.record-title {
    padding-right: 19px;
    cursor: pointer;
}

.record-smaller {
    color: gray;
    font-size: 12px;
}

.leaflet-popup-content p {
    margin: 10px 0;
}

/* Legend specific */
/* https://codepen.io/haakseth/pen/KQbjdO */
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 5px 0 3px;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 11px;
    background-color: rgba(255, 255, 255, 0);
}

/* Sidebar specific */

#sidebar {
    user-select: none;
}

#sidebar h4 {
    font-size: 16px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#sidebar p {
    margin-bottom: 5px;
}

.leaflet-touch .leaflet-sidebar > .leaflet-control {
    border-radius: 15px;
}

ul {
    padding-left: 20px;
}

/* Toggle expansion */

#toggle-expansion-button:before {
    content: "";
    width: 38px;
    height: 32px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

#toggle-expansion-button {
    padding: 0;
    cursor: pointer;
    background-color: #ffffff;
    border-color: transparent;
}

#toggle-expansion-button:focus, #toggle-expansion-button:active, #toggle-expansion-button:active:focus {
    outline: none !important;
    box-shadow: none;
    background-color: #ffffff;
    border-color: transparent;
}

#toggle-expansion-button:before {
    background-image: url('../static/img/graph.png');
}

#toggle-expansion-button.disabled {
    background-color: #ababab;
}

/* Bouncing arrow */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce-right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }
}

@keyframes bounce-left {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(30px);
    }
    60% {
        transform: translateX(15px);
    }
}

.arrow {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 401;
    cursor: pointer;
    background-size: contain;
}

.bottom-bouncing-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    background-image: url('../static/img/arrow-down.png');
}

.top-bouncing-arrow {
    top: 80px;
    left: 50%;
    margin-left: -20px;
    background-image: url('../static/img/arrow-up.png');
}

.left-bouncing-arrow {
    left: 0;
    top: 50%;
    margin-top: 20px;
    background-image: url('../static/img/arrow-left.png');
}

.right-bouncing-arrow {
    right: 0;
    top: 50%;
    margin-top: 20px;
    background-image: url('../static/img/arrow-right.png');
}

.bounce {
    animation: bounce 2s infinite;
}

.bounce-right {
    animation: bounce-right 2s infinite;
}

.bounce-left {
    animation: bounce-left 2s infinite;
}