<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script>
	let source = new EventSource("/_expand");
	source.onmessage = function(event) {
		let data = event.data.split('%%');
		let progress = data[0];
		let label = data[1];
        $('.progress-bar').css('width', progress+'%').attr('aria-valuenow', progress);
        $('.progress-bar-label').text(progress.split('.')[0]+'%');
		if (label == 'done') {
			source.close();
			$('.under-progress-label').html('Done! <a href="../records">See records</a>');
        } else {
		    $('.under-progress-label').text(label);
        }
	}
	</script>
</head>
<body>
	<div class="progress center-block" style="width: 50%; margin-top: 60px;">
		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>
	<span class="under-progress-label center-block" style="text-align: center"></span>
</div>
</body>
</html>