<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Map</title>
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/leaflet.sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/map">Libri pubblicati in Toscana
        <small>Scopri il patrimonio culturale locale!</small>
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/records">Tutti i record</a></li>
            <li class="nav-item active"><a class="nav-link" href="/map3">Mappa <span
                    class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button class="btn btn-info my-2 my-sm-0 mr-2" id="toggle-expansion-button" type="button"
                data-toggle="tooltip" title="Disattiva espansioni"></button>
        <form id="search-form" class="form-inline" onsubmit="searchPlaces()" action="#">
            <input id="search" class="form-control mr-sm-2" type="search" spellcheck="false"
                   placeholder="Ricerca per titolo, autore, argomento..." aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="button" onclick="searchPlaces()">Cerca</button>
        </form>
    </div>
</nav>

<div id="sidebar" class="leaflet-sidebar collapsed hidden"></div>
<div id="map"></div>

<script src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/libs/leaflet.curve.js"></script>
<script src="/static/libs/layer.grayscale.js"></script>
<script src="/static/libs/bouncemarker.js"></script>
<script src="/static/libs/leaflet.sidebar.js"></script>
<script src="/static/libs/leaflet.textpath.js"></script>
<script src="/static/libs/leaflet.touch.helper.js"></script>
<script src="/static/libs/jquery.autocomplete.min.js"></script>
<script src="/static/js/map.js"></script>
</body>

</html>