<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>records</title>
    <script src="//unpkg.com/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='records.css') }}">
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">semantic-biblio-expansion</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active">Tutti i record <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/map">Mappa</a>
        </div>
    </nav>

	<div id="table" class="container" v-cloak>

		<b-input-group size="lg" class="mb-5" id="search" append="&#x1F50D;">
			<b-form-input type="text" v-model="filter" v-on:input="filterUpdate" placeholder="Ricerca per titolo, soggetti, autore, descrizione..."></b-form-input>
		</b-input-group>

		<b-table hover striped bordered outlined :items="records" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :filter-function="filterHandler" @filtered="onFiltered" caption-top>
			<template slot="more" slot-scope="data">
				<b-button class="mb-2" variant="success" size="sm" @click.stop="showAltro(data.item, $event.target)">Altro</b-button>
				<b-button v-if="loadingButtonIndex === data.index" variant="primary" size="sm" disabled><i class='fa fa-spinner fa-spin'></i></b-button>
                <b-button v-else variant="primary" size="sm" @click.stop="espandi(data.item, data.index, $event.target)">Espandi</b-button>
			</template>
		</b-table>
		<b-pagination align="center" size="md" :total-rows="totalRows" v-model="currentPage" :per-page="perPage"></b-pagination>

		<b-modal centered id="altroModalInfo" @hide="resetModals" :title="altroModalInfo.title" ok-only>
            <p style="display:inline" v-if="altroModalInfo.place !== ''"><strong>• Luogo di edizione: </strong><% altroModalInfo.place %><br></p>
			<p style="display:inline" v-if="altroModalInfo.contributor !== ''"><strong>• Autore secondario: </strong><% altroModalInfo.contributor %><br></p>
			<p style="display:inline" v-if="altroModalInfo.date !== ''"><strong>• Data: </strong><% altroModalInfo.date %><br></p>
			<p style="display:inline" v-if="altroModalInfo.language !== ''"><strong>• Lingua: </strong><% altroModalInfo.language %><br></p>
			<p style="display:inline" v-if="altroModalInfo.publisher !== ''"><strong>• Editore: </strong><% altroModalInfo.publisher %><br></p>
			<p style="display:inline" v-if="altroModalInfo.type !== ''"><strong>• Tipo: </strong><% altroModalInfo.type %><br></p>
			<p style="display:inline" v-if="altroModalInfo.format !== ''"><strong>• Formato: </strong><% altroModalInfo.format %><br></p>
			<p style="display:inline" v-if="altroModalInfo.relation !== ''"><strong>• Relazione: </strong><% altroModalInfo.relation %><br></p>
			<p style="display:inline"><strong>• Link: </strong><a :href="altroModalInfo.link" target="_blank">Clicca qui</a></p>
		</b-modal>

		<b-modal centered id="espandiModalInfo" size="lg" @hide="resetModals" :title="espandiModalInfo.title" ok-only>
            <p style="display:inline" v-if="espandiModalInfo.viaf_id !== ''"><strong>• Pagina VIAF: </strong><a :href="'https://viaf.org/viaf/' + espandiModalInfo.viaf_id + '/'" target="_blank">https://viaf.org/viaf/<% espandiModalInfo.viaf_id %>/</a><br></p>
            <p style="display:inline" v-if="espandiModalInfo.author_wiki_page !== ''"><strong>• Pagina Wikipedia autore: </strong><a :href="espandiModalInfo.author_wiki_page" target="_blank"><% espandiModalInfo.author_wiki_page %></a><br></p>
            <p style="display:inline" v-if="espandiModalInfo.author_wiki_info !== ''"><strong>• Biografia autore: </strong><% espandiModalInfo.author_wiki_info %><br></p>
            <div v-if="espandiModalInfo.author_other_works[0] !== ''"><p style="display:inline"><strong>• Altre opere: </strong></p><br><ul><li v-for="work in espandiModalInfo.author_other_works"><% work %></li></ul></div>
            <div v-if="espandiModalInfo.entities !== ''"><p style="display:inline"><strong>• Entità trovate nel campo descrizione: </strong></p><br><ul><li v-for="e in espandiModalInfo.entities"><a :href="e.uri" target="_blank"><% e.title %></a>: <% e.abstract %><br></li></ul></div>
		</b-modal>
	</div>

    <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/lodash@4.16.0"></script>
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='records.js') }}"></script>
</body>

</html>
