<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>records</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>

	<div id="table" class="container" v-cloak>

		<b-input-group size="lg" class="mb-5" id="search" append="&#x1F50D;">
			<b-form-input type="text" v-model="filter" v-on:input="filterUpdate" placeholder="Ricerca per titolo, soggetti, autore, descrizione..."></b-form-input>
		</b-input-group>

		<b-table hover striped bordered outlined :items="records" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filterHandler" @filtered="onFiltered" caption-top>
			<template slot="more" slot-scope="data">
				<b-button class="mb-2" variant="success" size="sm" @click.stop="info(data.item, $event.target)">Altro</b-button>
				<!-- TODO -->
				<b-button size="sm">Espandi</b-button>
			</template>
		</b-table>
		<b-pagination align="center" size="md" :total-rows="totalRows" v-model="currentPage" :per-page="perPage"></b-pagination>

		<b-modal centered id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
			<p style="display:inline" v-if="modalInfo.contributor !== ''"><strong>• Autore secondario: </strong>{{ modalInfo.contributor }}<br></p>
			<p style="display:inline" v-if="modalInfo.date !== ''"><strong>• Data: </strong>{{ modalInfo.date }}<br></p>
			<p style="display:inline" v-if="modalInfo.language !== ''"><strong>• Lingua: </strong>{{ modalInfo.language }}<br></p>
			<p style="display:inline" v-if="modalInfo.publisher !== ''"><strong>• Editore: </strong>{{ modalInfo.publisher }}<br></p>
			<p style="display:inline" v-if="modalInfo.type !== ''"><strong>• Tipo: </strong>{{ modalInfo.type }}<br></p>
			<p style="display:inline" v-if="modalInfo.format !== ''"><strong>• Formato: </strong>{{ modalInfo.format }}<br></p>
			<p style="display:inline" v-if="modalInfo.relation !== ''"><strong>• Relazione: </strong>{{ modalInfo.relation }}<br></p>
			<p style="display:inline"><strong>• Link: </strong><a :href="modalInfo.link" target="_blank">Clicca qui</a></p>
		</b-modal>
	</div>

	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script src="//unpkg.com/vue"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="//unpkg.com/lodash@4.16.0"></script>
	<script src="app.js"></script>
</body>

</html>
